/* setting up color variables */
:root{
    --headercolor:#2b2e35;
    --bodycolor:#ebecf5;
    --logobg:#88c5c7;
    --darkblue:#3c4f6a;
    
}
header{
    width: 100%;
    background-color: var(--headercolor);
    display: flex;
    align-items: center;
}
h1 {
    font-size: 60px;
    text-align: right;
    margin: 10px;
    width: 300px;
    font-weight: bolder;
    color: #3c4f6a;
}
h2{
    font-size: 50px; 
    background-color: var(--logobg);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 80px;
    text-align:center;
    width: auto;
    font-weight: bolder;
    color: var(--headercolor);
}
nav{
 
    flex-basis: 80%; 
    
}
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--logobg);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--logobg) 0%, var(--logobg) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
    display: inline-block;
  }
  nav ul
  {
display: flex;
justify-content: flex-end;

  }
  /* holds the hero image */
   .hero
  {
      background-image: url("../images/hero.jpg");
      height: 200px;
      width: 100%;
      display: flex;
       justify-content: center; 
      align-items: flex-end;
  }

  .wrap
  {
    justify-content: flex-end;
      width: 80%;
      display:flex ;
     
  }
  .hero h3
  {
      background-color: var(--logobg);
      font-size: 40px;
      margin-bottom: 20px;
     padding: 5px;
      font-weight: bolder;
    color: var(--headercolor);
    width: auto;
  }
body
{
    background-color: var(--bodycolor);
    font-family: monospace;
}
main
{
 
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
p {
    font-size: 18px;
    font-weight: bold;
    color: var(--darkblue);
}
section
{
    flex-wrap: nowrap;
    display: flex;
    width: 85%;
    

    margin-bottom: 10px;
}
.container
{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

   margin: 10px;
   padding-left: 30px;
   border-left: var(--darkblue);
   border-style: solid;
}
.avatar
{
    border-radius: 200px;
   
    margin-bottom: 5px;
}
.work-link
{
    display: flex;
    text-decoration: none;
   flex: 1;
}
.work-link:hover 
{
    box-shadow: 1px 1px 10px 10px var(--logobg);
}
#work-0{
    flex: 0 2 100%;
height: 300px;
background-image: url("../images/refactor.jpg");
}
#work-1
{
    background-image: url("../images/macos.jpg");
    background-size:cover;
    background-position-y: -40px;
}
#work-2
{
    background-image: url("../images/portfolio.jpg");
    background-size:cover;
    background-position-y: -500px;
}
#work-3
{
    background-image: url("../images/iglive.png");
    background-size:cover;
    background-position-y: -50px;
}
#work-4
{
    background-image: url("../images/santacruz.jpg");
    background-size:cover;
    background-position-y: -50px;
}
.container p{
    margin: 10px;
}
.work-item
{
    flex: 1 2 45%;
   height :200px;
    background-color: deeppink;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    
    border: 5px solid var(--logobg);
    
      
}
.work-desc{
    background-color:var(--logobg);
   margin-bottom: 30px;
    height: auto;
    width: auto;
    align-self: flex-end;
   
   
    
  
}
.work-desc h4{
    font-size: 35px;
    margin: 5px;
    font-weight: bolder;
    color: var(--headercolor);
    
    
}
#contact-me a
{
    text-decoration: none;
    padding: 5px 10px;
    color: var(--headercolor);
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--darkblue) 0%, var(--darkblue) 100%);
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
    display: inline-block;
    align-self: center;
}
/* Once screen is detected to be smaller than 650 it will change the css to mobile */
@media screen and (max-width:900px)
{
    section{
        width: 100%;
    }
}
@media screen and (max-width:650px)
{
    /* makes section stack on top of each other and gives more space for the content by increasing the width */
   section{
       flex-wrap: wrap;
       width: 100%;
   }
   header
   {
       flex-wrap: wrap;
       justify-content: center;
   }
   /* makes navbar align links to the center */
   nav ul 
   {
       justify-content: center;
   }
   /* makes the h3 tag align to center */
   .hero 
   {
       justify-content: center;
   }
   /* change .container boarder from left to top  */
  .container
  {
    border-top: var(--darkblue);
    border-left:0px;
    border-style: solid;
  }
  h1 {
      text-align: left;
  }
  h2{
      flex: 1;
      width: 500px;
  }
#work-0
{
    height: 200px;
}
 
}